.header {
  width: 100%;
  background: var(--color-blue-light);
  padding: 25px 30px;
}

.headerContent {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
}

.logo span {
  font-family: 'Ubuntu';
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
}

.navMenu {
  margin-right: -20px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  border-radius: 5px;
  margin: 0 20px;
}

.menu li a {
  font-family: 'Ubuntu';
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  transition: color 0.3s;
}

.menu li.activeMenu {
  background: var(--color-yellow);
  padding: 10px 20px;
}

.menu li.activeMenu a {
  color: var(--color-blue-dark)
}

.menu li:not(.activeMenu) a:hover {
  color: var(--color-blue-dark);
}