.footer {
  width: 100%;
  background: var(--color-blue-dark);
  padding: 1.56rem 1.87rem;
  margin-top: auto;
}

.footerContent {
  max-width: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  width: 17.5rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
  margin-right: auto;
}

.logo span {
  font-family: 'Ubuntu';
  color: var(--color-white);
  font-size: 1.125rem;
  font-weight: 700;
}

.message {
  margin: 0 1.875rem;
}

.message strong {
  font-family: 'Ubuntu';
  color: var(--color-white);
  font-size: 1.128rem;
  font-weight: 500;
}

.message strong strong {
  color: var(--color-yellow);
}

.socialNetworks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialNetworks a {
  transition: transform 300ms;
}

.socialNetworks a + a {
  margin-left: 0.937rem;
}

.socialNetworks a:hover {
  transform: translateY(-0.312rem);
}

.socialNetworks img {
  width: 1.875rem;
  height: 1.875rem;
}

@media only screen and (max-width: 767px) {
  .footerContent {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .message {
    margin: 1.25rem 0 0;
    order: 3;
  }

  .socialNetworks {
    margin: 1.25rem 0 0;
    order: 2;
  }
}
