:root {
  --color-blue-light: #4DA3FF;
  --color-blue-medium: #3396FF;
  --color-blue-dark: #0056B3;
  --color-yellow: #F6FA31;
  --color-black: #000;
  --color-white: #FFF;
  --color-gray: #CCC;
  --color-font-text: #4C4C4C;
  --color-font-header: #222;
  --color-orange-html: #FC7941;
  --color-blue-css: #19AAF1;
  --color-yellow-javascript: #FFDE57;
}

@media only screen and (min-width: 577px) and (max-width: 1024px) {
  :root {
    font-size: 15px;
  }
}

@media only screen and (max-width: 577px) {
  :root {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: var(--color-font-text);
}

html, body, #__next {
  height: 100%;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
}

#__next > main {
  padding-bottom: 3.75rem;
}

body, input {
  font: 16px 'Source Sans Pro', serif;
}

h1, h2, h3, h4, h5, h6, button, strong {
  font-family: 'Ubuntu', sans-serif;
  color: var(--color-font-header);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-dark);
}
